# Hands-on Activity 6.1 Introduction to Data Analysis and Tools
**CPE311 Computational Thinking with Python**

Name: Losaria, Jose Anton Paolo F.

Section: CPE22S3

Performed on: 02/12/2026

Submitted on: 02/12/2026

Submitted to: Engr. Neal Barton James Matira

# 6.1 Intended Learning Outcome

1.   Use pandas and numpy data analysis tools.
2.   Demonstrate how to analyze data using numpy and pandas

# 6.2 Resources:


*   Personal Computer
*   Jupyter Notebook
*   Internet Connection

# 6.3 Supplementary Activities:
#Exercise 1

Run the given code below for exercises 1 and 2, perform the given tasks without using any Python modules.

In [ ]:
import random
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

Using the data generated above, calculate the following statistics without importing anything from the statistics module in the
standard library (https://docs.python.org/3/library/statistics.html) and then confirm your results match up to those that are
obtained when using the statistics module (where possible):


*   Mean
*   Median
*   Mode (hint: check out the Counter in the collections module of the standard library at
https://docs.python.org/3/library/collections.html#collections.Counter)
*   Sample variance
*   Sample standard deviation

In [ ]:
# Mean
average = sum(salaries)/len(salaries)
print(average)

#Get the sum of all salaries and divide to the number of salaries

585690.0

In [ ]:
# Median
sorted_salary = salaries.sort()
index = len(salaries)//2
median = salaries[index]
print(median)

#Sort the dataset first and then get the middle index by dividing the length of the dataset and dividing by 2, then use that index to access the median

590000.0

In [ ]:
# Mode
salary_count = {}
for salary in salaries:
  salary_count[salary] = salary_count.get(salary, 0) + 1
highest = 0
for count in salary_count.values():
  if count > highest:
    highest = count
if highest == 1:
  print("All items appear once")
mode = []
for salary,count in salary_count.items():
  if count == highest:
    mode.append(salary)
print(f"Mode: {mode} - Frequency: {highest}")

#Through the first loop, getting the count of each salaries and store them in a dictionary. Declare a variable to store the highest count, then use a loop to iterate over the count values of salary_count
#until it stores the highest count. Lastly, display all salary appear once if the mode is 1 and if not, then use a loop to store all salaries that has the same number of count then print the mode.

95
Mode: [477000.0] - Frequency: 3

In [ ]:
#Variance
average = sum(salaries)/len(salaries)
len_minus_one = len(salaries) - 1
x_xmean_squared = []

for salary in salaries:
  temp = (salary - average)**2
  x_xmean_squared.append(temp)

summation = sum(x_xmean_squared)
variance = summation/len_minus_one
print(variance)

#First getting the average again. Then getting the N - 1 by using len then minus one to that. Declare a variable where it will store all the (x-average)**2.
#Use a loop to calculate each salary of (x-average)**2, then store in the variable declared earlier. Then use the sum function to get the sum of the (x-average)**2.
#Lastly, divide the summation to the len - 1.

70664054444.44444

In [ ]:
# Standard Deviation
SD = variance ** 0.5
print(SD)

#Since we already have the variance, we only raise it 0.5 which acts as a square root.

265827.11382484

# Exercise 2
Using the same data, calculate the following statistics using the functions in the statistics module where appropriate:

*   Range
*   Coefficient of variation
*   Interquartile range
*   Quartile coefficient of dispersion

In [ ]:
# Range
range = max(salaries) - min(salaries)
print(range)

#Highest salary minus lowest salary.

995000.0

In [ ]:
#Coefficient of variation
CV = (SD / average) * 100
print(f"{CV}%")

#Just Standard deviation divided by average and multiplying to 100 to get the percentage.

45.38699889443903%

In [ ]:
# Interquartile range
import numpy as np
Q1 = np.quantile(salaries, 0.25)
Q3 = np.quantile(salaries, 0.75)
IQR = Q3 - Q1
print(IQR)

#Getting the Q1 and Q3 through numpy and simlpy subtracting Q1 from Q3

413250.0

In [ ]:
# Quartile coefficient of dispersion
QCD = (Q3 - Q1) / (Q3 + Q1)
print(QCD)

#Since we already have Q3 and Q1 from earlier, simply use the formula for Quartile coefficient of dispersion

0.338660110633067

# Exercise 3: Pandas for Data Analysis
Load the diabetes.csv file. Convert the diabetes.csv into dataframe
Perform the following tasks in the diabetes dataframe:


1. Identify the column names
2. Identify the data types of the data
3. Display the total number of records
4. Display the first 20 records
5. Display the last 20 records
6. Change the Outcome column to Diagnosis
7. Create a new column Classification that display "Diabetes" if the value of outcome is 1 , otherwise "No Diabetes"
8. Create a new dataframe "withDiabetes" that gathers data with diabetes
9. Create a new dataframe "noDiabetes" thats gathers data with no diabetes
10. Create a new dataframe "Pedia" that gathers data with age 0 to 19
11. Create a new dataframe "Adult" that gathers data with age greater than 19
12. Use numpy to get the average age and glucose value.
13. Use numpy to get the median age and glucose value.
14. Use numpy to get the middle values of glucose and age.
15. Use numpy to get the standard deviation of the skinthickness.

In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [41]:
data = pd.read_csv('/content/drive/MyDrive/CPE311/HOA6.1/diabetes.csv')

Identify the column names

In [45]:
print(data.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

Identify the data types of the data

In [52]:
print(data.dtypes)

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

Display the total number of records

In [50]:

print(data['Pregnancies'].count())

768

Display the first 20 records

In [51]:
print(data.head(20))

    Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0             6      148             72             35        0  33.6
1             1       85             66             29        0  26.6
2             8      183             64              0        0  23.3
3             1       89             66             23       94  28.1
4             0      137             40             35      168  43.1
5             5      116             74              0        0  25.6
6             3       78             50             32       88  31.0
7            10      115              0              0        0  35.3
8             2      197             70             45      543  30.5
9             8      125             96              0        0   0.0
10            4      110             92              0        0  37.6
11           10      168             74              0        0  38.0
12           10      139             80              0        0  27.1
13            1      189             60             23      846  30.1
14            5      166             72             19      175  25.8
15            7      100              0              0        0  30.0
16            0      118             84             47      230  45.8
17            7      107             74              0        0  29.6
18            1      103             30             38       83  43.3
19            1      115             70             30       96  34.6

    DiabetesPedigreeFunction  Age  Outcome
0                      0.627   50        1
1                      0.351   31        0
2                      0.672   32        1
3                      0.167   21        0
4                      2.288   33        1
5                      0.201   30        0
6                      0.248   26        1
7                      0.134   29        0
8                      0.158   53        1
9                      0.232   54        1
10                     0.191   30        0
11                     0.537   34        1
12                     1.441   57        0
13                     0.398   59        1
14                     0.587   51        1
15                     0.484   32        1
16                     0.551   31        1
17                     0.254   31        1
18                     0.183   33        0
19                     0.529   32        1

Display the last 20 records

In [53]:
print(data.tail(20))

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
748            3      187             70             22      200  36.4
749            6      162             62              0        0  24.3
750            4      136             70              0        0  31.2
751            1      121             78             39       74  39.0
752            3      108             62             24        0  26.0
753            0      181             88             44      510  43.3
754            8      154             78             32        0  32.4
755            1      128             88             39      110  36.5
756            7      137             90             41        0  32.0
757            0      123             72              0        0  36.3
758            1      106             76              0        0  37.5
759            6      190             92              0        0  35.5
760            2       88             58             26       16  28.4
761            9      170             74             31        0  44.0
762            9       89             62              0        0  22.5
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
748                     0.408   36        1
749                     0.178   50        1
750                     1.182   22        1
751                     0.261   28        0
752                     0.223   25        0
753                     0.222   26        1
754                     0.443   45        1
755                     1.057   37        1
756                     0.391   39        0
757                     0.258   52        1
758                     0.197   26        0
759                     0.278   66        1
760                     0.766   22        0
761                     0.403   43        1
762                     0.142   33        0
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

Change the Outcome column to Diagnosis

In [57]:
renamed = data.rename(columns={'Outcome': 'Diagnosis'})
print(renamed.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Diagnosis'],
      dtype='object')

Create a new column Classification that display "Diabetes" if the value of outcome is 1 , otherwise "No Diabetes"

In [60]:
data['Classification'] = np.where(data['Outcome'] == 1, 'Diabetes', 'No Diabetes')
print(data)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome Classification
0                       0.627   50        1       Diabetes
1                       0.351   31        0    No Diabetes
2                       0.672   32        1       Diabetes
3                       0.167   21        0    No Diabetes
4                       2.288   33        1       Diabetes
..                        ...  ...      ...            ...
763                     0.171   63        0    No Diabetes
764                     0.340   27        0    No Diabetes
765                     0.245   30        0    No Diabetes
766                     0.349   47        1       Diabetes
767                     0.315   23        0    No Diabetes

[768 rows x 10 columns]

Create a new dataframe "withDiabetes" that gathers data with diabetes

In [61]:
withDiabetes = data[data.Outcome==1]
print(withDiabetes)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
2              8      183             64              0        0  23.3
4              0      137             40             35      168  43.1
6              3       78             50             32       88  31.0
8              2      197             70             45      543  30.5
..           ...      ...            ...            ...      ...   ...
755            1      128             88             39      110  36.5
757            0      123             72              0        0  36.3
759            6      190             92              0        0  35.5
761            9      170             74             31        0  44.0
766            1      126             60              0        0  30.1

     DiabetesPedigreeFunction  Age  Outcome Classification
0                       0.627   50        1       Diabetes
2                       0.672   32        1       Diabetes
4                       2.288   33        1       Diabetes
6                       0.248   26        1       Diabetes
8                       0.158   53        1       Diabetes
..                        ...  ...      ...            ...
755                     1.057   37        1       Diabetes
757                     0.258   52        1       Diabetes
759                     0.278   66        1       Diabetes
761                     0.403   43        1       Diabetes
766                     0.349   47        1       Diabetes

[268 rows x 10 columns]

Create a new dataframe "noDiabetes" thats gathers data with no diabetes

In [62]:
noDiabetes = data[data.Outcome==0]
print(noDiabetes)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
1              1       85             66             29        0  26.6
3              1       89             66             23       94  28.1
5              5      116             74              0        0  25.6
7             10      115              0              0        0  35.3
10             4      110             92              0        0  37.6
..           ...      ...            ...            ...      ...   ...
762            9       89             62              0        0  22.5
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome Classification
1                       0.351   31        0    No Diabetes
3                       0.167   21        0    No Diabetes
5                       0.201   30        0    No Diabetes
7                       0.134   29        0    No Diabetes
10                      0.191   30        0    No Diabetes
..                        ...  ...      ...            ...
762                     0.142   33        0    No Diabetes
763                     0.171   63        0    No Diabetes
764                     0.340   27        0    No Diabetes
765                     0.245   30        0    No Diabetes
767                     0.315   23        0    No Diabetes

[500 rows x 10 columns]

Create a new dataframe "Pedia" that gathers data with age 0 to 19

In [72]:
Pedia = data[(data.Age >=0)&(data.Age <=19)]
print(Pedia)

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome, Classification]
Index: []

Create a new dataframe "Adult" that gathers data with age greater than 19

In [73]:
Adult = data[(data.Age > 19)]
print(Adult)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome Classification
0                       0.627   50        1       Diabetes
1                       0.351   31        0    No Diabetes
2                       0.672   32        1       Diabetes
3                       0.167   21        0    No Diabetes
4                       2.288   33        1       Diabetes
..                        ...  ...      ...            ...
763                     0.171   63        0    No Diabetes
764                     0.340   27        0    No Diabetes
765                     0.245   30        0    No Diabetes
766                     0.349   47        1       Diabetes
767                     0.315   23        0    No Diabetes

[768 rows x 10 columns]

Use numpy to get the average age and glucose value.

In [78]:
ave_age = np.mean(data['Age'])
ave_glu = np.mean(data['Glucose'])
print(f"Average Age: {ave_age}")
print(f"Average Glucose: {ave_glu}")

Average Age: 33.240885416666664
Average Glucose: 120.89453125

Use numpy to get the median age and glucose value.

In [79]:
med_age = np.median(data['Age'])
med_glu = np.median(data['Glucose'])
print(f"Median Age: {med_age}")
print(f"Median Glucose: {med_glu}")

Average Age: 29.0
Average Glucose: 117.0

Use numpy to get the middle values of glucose and age.

In [80]:
med_age = np.median(data['Age'])
med_glu = np.median(data['Glucose'])
print(f"Middle Value of Age: {med_age}")
print(f"Middle Value of Glucose: {med_glu}")

Middle Value of Age: 29.0
Middle Value of Glucose: 117.0

Use numpy to get the standard deviation of the skinthickness.

In [81]:
std_skinthick = np.std(data['SkinThickness'])
print(f"Standard Deviation of Skin Thickness: {std_skinthick}")

Standard Deviation of Skin Thickness: 15.941828626496978

# 6.4 Conclusion

This activity let me go deeper on how to manipulate data within a dataset through the use of pandas while also letting me try how to calculate the central tendencies without the use of imports. It made me aware how long the code could be without the use of libraries and how I need to use more thinking and knowledge of formulas to get those values. The different exercises in this activity has first let me calculate without the use of different libraries, in the second exercise I used a library to get the quartile of the dataset to get the interquartile range. In the last exercise, it let me explore the different ways to manipulate existing datasets and using the data within them to make different calculations or isolate a column to make those calculations.

Overall, this activity has given me more knowledge on how to manipulate data within an existing dataset and isolate different columns or select only data that may be relevant to what I need and use those for calculations.