# Module 7: Data Wrangling with Pandas

## CPE311 Computational Thinking with Python

Submitted by: Losaria, Jose Anton Paolo F.

Performed on:

Submitted on:

Submitted to: Engr. Neal Barton James Matira

# 7.1 Supplementary Activity
Using the datasets provided, perform the following exercises:

## Exercise 1
We want to look at data for the Facebook, Apple, Amazon, Netflix, and Google (FAANG) stocks, but we were given each as a separate CSV file. Combine them into a single file and store the dataframe of the FAANG data as faang for the rest of the exercises:
1. Reach each file in.
2. Add a column to each dataframe, called ticker, indicating the ticker symbol it is for (Apple's is AAPL, for example). This is how you look up a stock. Each file's name is also the ticker symbol, so be sure to capitalize it.
3. Append them together into a single dataframe.
4. Save the result in a CSV file called faang.csv

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
fb = pd.read_csv('/content/drive/MyDrive/CPE311/HOA7.1/fb.csv')
aapl = pd.read_csv('/content/drive/MyDrive/CPE311/HOA7.1/aapl.csv')
amzn = pd.read_csv('/content/drive/MyDrive/CPE311/HOA7.1/amzn.csv')
nflx = pd.read_csv('/content/drive/MyDrive/CPE311/HOA7.1/nflx.csv')
goog = pd.read_csv('/content/drive/MyDrive/CPE311/HOA7.1/goog.csv')

fb['ticker'] = 'FB'
aapl['ticker'] = 'AAPL'
amzn['ticker'] = 'AMZN'
nflx['ticker'] = 'NFLX'
goog['ticker'] = 'GOOG'

faang = pd.concat([fb, aapl, amzn, nflx, goog], ignore_index=True)
faang.to_csv('faang.csv', index=False)
print(faang.head())

         date    open    high       low   close    volume ticker
0  2018-01-02  177.68  181.58  177.5500  181.42  18151903     FB
1  2018-01-03  181.88  184.78  181.3300  184.67  16886563     FB
2  2018-01-04  184.90  186.21  184.0996  184.33  13880896     FB
3  2018-01-05  185.59  186.90  184.9300  186.85  13574535     FB
4  2018-01-08  187.20  188.90  186.3300  188.28  17994726     FB

## Exercise 2
With faang, use type conversion to change the date column into a datetime and the volume column into integers. Then, sort by date and ticker.
Find the seven rows with the highest value for volume.
Right now, the data is somewhere between long and wide format. Use melt() to make it completely long format. Hint: date and ticker are our ID variables (they uniquely identify each row). We need to melt the rest so that we don't have separate columns for open, high, low, close, and volume.

In [3]:
faang['date'] = pd.to_datetime(faang['date'])
faang['volume'] = pd.to_numeric(faang['volume'])
faang = faang.sort_values(['date', 'ticker'])
seven_highest = faang.nlargest(7, 'volume')
faang_melt = (
    faang
    .melt(
        id_vars=['date', 'ticker'],
        value_vars=['open', 'high', 'low', 'close', 'volume'],
    )
    .sort_values(['date', 'ticker'])
)
print(faang.head())
print(seven_highest)
print(faang_melt)

           date       open       high        low      close    volume ticker
251  2018-01-02   166.9271   169.0264   166.0442   168.9872  25555934   AAPL
502  2018-01-02  1172.0000  1190.0000  1170.5100  1189.0100   2694494   AMZN
0    2018-01-02   177.6800   181.5800   177.5500   181.4200  18151903     FB
1004 2018-01-02  1048.3400  1066.9400  1045.2300  1065.0000   1237564   GOOG
753  2018-01-02   196.1000   201.6500   195.4200   201.0700  10966889   NFLX
          date      open      high       low     close     volume ticker
142 2018-07-26  174.8900  180.1300  173.7500  176.2600  169803668     FB
53  2018-03-20  167.4700  170.2000  161.9500  168.1500  129851768     FB
57  2018-03-26  160.8200  161.1000  149.0200  160.0600  126116634     FB
54  2018-03-21  164.8000  173.4000  163.3000  169.3900  106598834     FB
433 2018-09-21  219.0727  219.6482  215.6097  215.9768   96246748   AAPL
496 2018-12-21  156.1901  157.4845  148.9909  150.0862   95744384   AAPL
463 2018-11-02  207.9295  211.9978  203.8414  205.8755   91328654   AAPL
           date ticker variable         value
0    2018-01-02   AAPL     open  1.669271e+02
1255 2018-01-02   AAPL     high  1.690264e+02
2510 2018-01-02   AAPL      low  1.660442e+02
3765 2018-01-02   AAPL    close  1.689872e+02
5020 2018-01-02   AAPL   volume  2.555593e+07
...         ...    ...      ...           ...
1254 2018-12-31   NFLX     open  2.601600e+02
2509 2018-12-31   NFLX     high  2.701001e+02
3764 2018-12-31   NFLX      low  2.600000e+02
5019 2018-12-31   NFLX    close  2.676600e+02
6274 2018-12-31   NFLX   volume  1.350892e+07

[6275 rows x 4 columns]

## Exercise 3
Using web scraping, search for the list` of the hospitals, their address and contact information. Save the list in a new csv file, hospitals.csv.
Using the generated hospitals.csv, convert the csv file into pandas dataframe. Prepare the data using the necessary preprocessing techniques.

In [5]:
import requests
from bs4 import BeautifulSoup
import csv
url = "https://icare.com.ph/icare-accredited-health-partners/"
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
}
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, "html.parser")
table = soup.find("div",class_="col table-responsive").find("table")
datas = soup.find("tbody").find_all("tr")
hospitals = []

for data in datas:
    columns = data.find_all("td")
    if len(columns) >= 8:
        name = columns[0].get_text(strip=True)
        address = columns[5].get_text(strip=True)
        contact = columns[6].get_text(strip=True)
        hospitals.append([name, address, contact])

with open("hospitals.csv", "w", newline="", encoding="utf-8") as f:
    write = csv.writer(f)
    write.writerow(["Hospital Name", "Address", "Contact Information"])
    write.writerows(hospitals)

Hospital_PD = pd.DataFrame(hospitals)
Hospital_PD = Hospital_PD.fillna("Not Available")
Hospital_PD = Hospital_PD.drop_duplicates()

AttributeError: 'NoneType' object has no attribute 'find'

# 7.2 Conclusion:
Write your conclusion here.