Exercise Part 4:
1. Using the meteorite data from the Meteorite_Landings.csv file, create a pivot table that shows both the number of meteorites and the
95th percentile of meteorite mass for those that were found versus observed falling per year from 2005 through 2009 (inclusive). Hint:
Be sure to convert the year column to a number as we did in the previous exercise.
2. Using the meteorite data from the Meteorite_Landings.csv file, compare summary statistics of the mass column for the meteorites that
were found versus observed falling.

In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/CPE311/Sw7.1/Meteorite_Landings.csv')

In [ ]:
data['year'] = data['year'].str.slice(6,10)
data['year'] = pd.to_numeric(data['year'], errors='coerce')
data['mass (g)'] = pd.to_numeric(data['mass (g)'], errors='coerce')
filtered_data = data[(data['year']>= 2005)&(data['year']<= 2009)]
filtered_data = filtered_data[filtered_data['fall'].isin(['Fell', 'Found'])]
pivotTable = pd.pivot_table(
    filtered_data,
    values='mass (g)',
    index='year',
    columns='fall',
    aggfunc=[
        'count',
        lambda x: x.quantile(0.95)  # 95th percentile
    ]
)
print(pivotTable)

       count          <lambda>
fall    Fell   Found      Fell    Found
year
2005.0   NaN   874.0       NaN  4500.00
2006.0   5.0  2450.0   25008.0  1600.50
2007.0   8.0  1181.0   89675.0  1126.90
2008.0   9.0   948.0  106000.0  2274.80
2009.0   5.0  1492.0    8333.4  1397.25

In [ ]:
summary = data.groupby('fall')["mass (g)"].describe()
print(summary)

         count          mean            std  min     25%     50%      75%  \
fall
Fell    1075.0  47070.715023  717067.125826  0.1  686.00  2800.0  10450.0
Found  44510.0  12461.922983  571105.752311  0.0    6.94    30.5    178.0

              max
fall
Fell   23000000.0
Found  60000000.0

Exercise Part 5:
Using the taxi trip data in the 2019_Yellow_Taxi_Trip_Data.csv file, resample the data to an hourly frequency based on the dropoff time.
Calculate the total trip_distance, fare_amount, tolls_amount, and tip_amount, then find the 5 hours with the most tips.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data2 = pd.read_csv('/content/drive/MyDrive/CPE311/SW6.2/2019_Yellow_Taxi_Trip_Data.csv')

In [ ]:
data2['tpep_dropoff_datetime'] = pd.to_datetime(data2['tpep_dropoff_datetime'])
data2['hour'] = data2['tpep_dropoff_datetime'].dt.floor('h')
Hf = data2.groupby('hour')[['trip_distance','fare_amount','tolls_amount','tip_amount']].sum()
highest = Hf.sort_values('tip_amount', ascending=False).head(5)
print(highest)

                     trip_distance  fare_amount  tolls_amount  tip_amount
hour
2019-10-23 16:00:00       10676.95     67797.76        699.04    12228.64
2019-10-23 17:00:00       16052.83     70131.91       4044.04    12044.03
2019-10-23 18:00:00        3104.56     11565.56       1454.67     1907.64
2019-10-23 15:00:00          14.34       213.50          0.00       51.75
2019-10-23 19:00:00          98.59       268.00         24.48       25.74