Using the 2019_Yellow_Taxi_Trip_Data.csv Links to an external site. dataset, accomplish the following items and submit a PDF of the notebook:

In [2]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Create a DataFrame by reading in the 2019_Yellow_Taxi_Trip_Data.csv file.

In [22]:
data = pd.read_csv('/content/drive/MyDrive/CPE311/SW6.2/2019_Yellow_Taxi_Trip_Data.csv')
print(data)

      vendorid     tpep_pickup_datetime    tpep_dropoff_datetime  \
0            2  2019-10-23T16:39:42.000  2019-10-23T17:14:10.000
1            1  2019-10-23T16:32:08.000  2019-10-23T16:45:26.000
2            2  2019-10-23T16:08:44.000  2019-10-23T16:21:11.000
3            2  2019-10-23T16:22:44.000  2019-10-23T16:43:26.000
4            2  2019-10-23T16:45:11.000  2019-10-23T16:58:49.000
...        ...                      ...                      ...
9995         1  2019-10-23T17:39:59.000  2019-10-23T17:49:26.000
9996         1  2019-10-23T17:53:02.000  2019-10-23T18:00:45.000
9997         1  2019-10-23T17:07:16.000  2019-10-23T17:11:35.000
9998         1  2019-10-23T17:38:26.000  2019-10-23T17:49:28.000
9999         1  2019-10-23T17:22:14.000  2019-10-23T17:52:09.000

      passenger_count  trip_distance  ratecodeid store_and_fwd_flag  \
0                   1           7.93           1                  N
1                   1           2.00           1                  N
2                   1           1.36           1                  N
3                   1           1.00           1                  N
4                   1           1.96           1                  N
...               ...            ...         ...                ...
9995                2           1.30           1                  N
9996                1           1.40           1                  N
9997                1           0.70           1                  N
9998                2           2.50           1                  N
9999                1           3.00           1                  N

      pulocationid  dolocationid  payment_type  fare_amount  extra  mta_tax  \
0              138           170             1         29.5    1.0      0.5
1               11            26             1         10.5    1.0      0.5
2              163           162             1          9.5    1.0      0.5
3              170           163             1         13.0    1.0      0.5
4              163           236             1         10.5    1.0      0.5
...            ...           ...           ...          ...    ...      ...
9995           238           239             1          8.0    3.5      0.5
9996           239           166             2          8.0    3.5      0.5
9997           166           152             2          5.0    1.0      0.5
9998           151            42             1         10.0    1.0      0.5
9999           237            68             1         19.0    3.5      0.5

      tip_amount  tolls_amount  improvement_surcharge  total_amount  \
0           7.98          6.12                    0.3         47.90
1           0.00          0.00                    0.3         12.30
2           2.00          0.00                    0.3         15.80
3           4.32          0.00                    0.3         21.62
4           0.50          0.00                    0.3         15.30
...          ...           ...                    ...           ...
9995        2.46          0.00                    0.3         14.76
9996        0.00          0.00                    0.3         12.30
9997        0.00          0.00                    0.3          6.80
9998        0.00          0.00                    0.3         11.80
9999        2.50          0.00                    0.3         25.80

      congestion_surcharge
0                      2.5
1                      0.0
2                      2.5
3                      2.5
4                      2.5
...                    ...
9995                   2.5
9996                   2.5
9997                   0.0
9998                   0.0
9999                   2.5

[10000 rows x 18 columns]

Examine the first 5 rows.

In [20]:
print(data.head(5))

   vendorid     tpep_pickup_datetime    tpep_dropoff_datetime  \
0         2  2019-10-23T16:39:42.000  2019-10-23T17:14:10.000
1         1  2019-10-23T16:32:08.000  2019-10-23T16:45:26.000
2         2  2019-10-23T16:08:44.000  2019-10-23T16:21:11.000
3         2  2019-10-23T16:22:44.000  2019-10-23T16:43:26.000
4         2  2019-10-23T16:45:11.000  2019-10-23T16:58:49.000

   passenger_count  trip_distance  ratecodeid store_and_fwd_flag  \
0                1           7.93           1                  N
1                1           2.00           1                  N
2                1           1.36           1                  N
3                1           1.00           1                  N
4                1           1.96           1                  N

   pulocationid  dolocationid  payment_type  fare_amount  extra  mta_tax  \
0           138           170             1         29.5    1.0      0.5
1            11            26             1         10.5    1.0      0.5
2           163           162             1          9.5    1.0      0.5
3           170           163             1         13.0    1.0      0.5
4           163           236             1         10.5    1.0      0.5

   tip_amount  tolls_amount  improvement_surcharge  total_amount  \
0        7.98          6.12                    0.3         47.90
1        0.00          0.00                    0.3         12.30
2        2.00          0.00                    0.3         15.80
3        4.32          0.00                    0.3         21.62
4        0.50          0.00                    0.3         15.30

   congestion_surcharge
0                   2.5
1                   0.0
2                   2.5
3                   2.5
4                   2.5

Find the dimensions (number of rows and number of columns) in the data.

In [21]:
print(f"Actual Dimension: {data.shape}")
print(f"Total dimension: {data.size}")
print(data.info())

Actual Dimension: (10000, 18)
Total dimension: 180000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   vendorid               10000 non-null  int64
 1   tpep_pickup_datetime   10000 non-null  object
 2   tpep_dropoff_datetime  10000 non-null  object
 3   passenger_count        10000 non-null  int64
 4   trip_distance          10000 non-null  float64
 5   ratecodeid             10000 non-null  int64
 6   store_and_fwd_flag     10000 non-null  object
 7   pulocationid           10000 non-null  int64
 8   dolocationid           10000 non-null  int64
 9   payment_type           10000 non-null  int64
 10  fare_amount            10000 non-null  float64
 11  extra                  10000 non-null  float64
 12  mta_tax                10000 non-null  float64
 13  tip_amount             10000 non-null  float64
 14  tolls_amount           10000 non-null  float64
 15  improvement_surcharge  10000 non-null  float64
 16  total_amount           10000 non-null  float64
 17  congestion_surcharge   10000 non-null  float64
dtypes: float64(9), int64(6), object(3)
memory usage: 1.4+ MB
None

Using the data in the 2019_Yellow_Taxi_Trip_Data.csv file, calculate summary statistics for the fare_amount, tip_amount, tolls_amount, and total_amount columns.

In [23]:
print(data.describe().T)

                         count        mean        std    min      25%    50%  \
vendorid               10000.0    1.633700   0.481817   1.00    1.000    2.0
passenger_count        10000.0    1.497700   1.139353   0.00    1.000    1.0
trip_distance          10000.0    3.015250   4.148063   0.00    0.920    1.5
ratecodeid             10000.0    1.084200   0.418244   1.00    1.000    1.0
pulocationid           10000.0  166.900400  63.791288   1.00  132.000  162.0
dolocationid           10000.0  166.313500  68.525953   1.00  132.000  163.0
payment_type           10000.0    1.301000   0.486644   1.00    1.000    1.0
fare_amount            10000.0   15.106313  13.954762 -52.00    7.000   10.0
extra                  10000.0    1.960235   1.392940  -4.50    1.000    1.0
mta_tax                10000.0    0.492450   0.071544  -0.50    0.500    0.5
tip_amount             10000.0    2.634494   3.409800   0.00    0.000    2.0
tolls_amount           10000.0    0.623447   6.437507  -6.12    0.000    0.0
improvement_surcharge  10000.0    0.298140   0.032537  -0.30    0.300    0.3
total_amount           10000.0   22.564659  19.209255 -65.92   12.375   16.3
congestion_surcharge   10000.0    2.282800   0.720946  -2.50    2.500    2.5

                          75%     max
vendorid                 2.00    2.00
passenger_count          2.00    6.00
trip_distance            2.76   38.11
ratecodeid               1.00    5.00
pulocationid           234.00  265.00
dolocationid           236.00  265.00
payment_type             2.00    4.00
fare_amount             16.00  176.00
extra                    3.50    7.00
mta_tax                  0.50    0.50
tip_amount               3.25   43.00
tolls_amount             0.00  612.00
improvement_surcharge    0.30    0.30
total_amount            22.88  671.80
congestion_surcharge     2.50    2.75

Isolate the fare_amount, tip_amount, tolls_amount, and total_amount for the longest trip by distance (trip_distance).

In [24]:
isolatedData = data[data['trip_distance'] == data['trip_distance'].max()][['trip_distance','fare_amount', 'tip_amount', 'tolls_amount', 'total_amount']]
print(isolatedData)

      trip_distance  fare_amount  tip_amount  tolls_amount  total_amount
8338          38.11        176.0       18.29          6.12        201.21