Using the meteorite data from the Meteorite_Landings.csv file, update the year column to only contain the year, convert it to a numeric data type, and create a new column indicating whether the meteorite was observed falling before 1970. Set the index to the id column and extract all the rows with IDs between 10,036 and 10,040 (inclusive) with loc[].

    Hint 1: Use year.str.slice() to grab a substring.
    Hint 2: Make sure to sort the index before using loc[] to select the range.

Bonus: There's a data entry error in the year column. Can you find it? (Don't spend too much time on this.)

In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:
data = pd.read_csv('/content/drive/MyDrive/CPE311/Sw7.1/Meteorite_Landings.csv')

In [16]:
data['year'] = data['year'].str.slice(6,10)
data['year'] = pd.to_numeric(data['year'], errors='coerce')
data['Fell_before_1970'] = (data['fall'] == 'Fell')&(data['year'] < 1970)

data.set_index('id', inplace=True)
data.sort_index(inplace=True)
Extract = data.loc[10036:10040]
print(data)
print(Extract)

                        name nametype recclass  mass (g)   fall    year  \
id
1                     Aachen    Valid       L5      21.0   Fell  1880.0
2                     Aarhus    Valid       H6     720.0   Fell  1951.0
4                      Abajo    Valid       H5     331.0  Found  1982.0
5                     Abbott    Valid     H3-6   21100.0  Found  1951.0
6                       Abee    Valid      EH4  107000.0   Fell  1952.0
...                      ...      ...      ...       ...    ...     ...
57454        Mandalay Spring    Valid       L6    2854.0  Found  2012.0
57455               Antelope    Valid       H4     754.0  Found  2012.0
57456  Northwest Africa 7870    Valid       L4      42.0  Found  2004.0
57457  Northwest Africa 7871    Valid       L6     450.0  Found  2004.0
57458  Northwest Africa 7873    Valid     H5-6     446.0  Found  2009.0

         reclat    reclong             GeoLocation  Fell_before_1970
id
1      50.77500    6.08333       (50.775, 6.08333)              True
2      56.18333   10.23333    (56.18333, 10.23333)              True
4      26.80000 -105.41667      (26.8, -105.41667)             False
5      36.30000 -104.28333      (36.3, -104.28333)             False
6      54.21667 -113.00000      (54.21667, -113.0)              True
...         ...        ...                     ...               ...
57454  40.89201 -118.55319  (40.89201, -118.55319)             False
57455  40.90183 -118.54465  (40.90183, -118.54465)             False
57456   0.00000    0.00000              (0.0, 0.0)             False
57457   0.00000    0.00000              (0.0, 0.0)             False
57458   0.00000    0.00000              (0.0, 0.0)             False

[45716 rows x 10 columns]
            name nametype         recclass  mass (g)   fall    year    reclat  \
id
10036     Enigma    Valid               H4      94.0  Found  1967.0  31.33333
10037       Enon    Valid  Iron, ungrouped     763.0  Found  1883.0  39.86667
10038      Enshi    Valid               H5    8000.0   Fell  1974.0  30.30000
10039  Ensisheim    Valid              LL6  127000.0   Fell  1491.0  47.86667

         reclong            GeoLocation  Fell_before_1970
id
10036  -82.31667  (31.33333, -82.31667)             False
10037  -83.95000     (39.86667, -83.95)             False
10038  109.50000          (30.3, 109.5)             False
10039    7.35000       (47.86667, 7.35)              True